src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0cba2a68-4b59-403d-bd02-20804d18e468" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="3bf726e8-da2e-4b2e-8c70-5abe1f1a5075" >
		<http:listener doc:name="Listener" doc:id="930202ff-8549-4cff-848f-6274bf9cb869" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;{&#10;	"messege": "welcom to this API"&#10;}]' doc:name="Set Payload" doc:id="ff67365f-79ff-432a-b19a-af064c2eacba" />
	</flow>
</mule>
